/*
* OVERRIDES
*/

body {/*font-family:"Open Sans";font-size:14px;*/}

/*************************/




/*
* CONTENT SPECIFIC
*/

.article-page { }
.article-content { }
.article-title { }
.article-intro-img { }
.article-text {font-weight:300;font-size:1rem;line-height:1.5rem;}
.article-list-table {font-weight:300;font-size:14px;line-height:18px;font-family:Arial,sans-serif;}


/**********************/

/*
* Helper classes
*/


.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

.flash-msg {padding:20px 6px;}

.form {font-weight:300;font-size:14px;line-height:18px;font-family:Arial,sans-serif;}

.required > label {
    font-weight: bold;
}
.required > label:after {
    content: ' *';
    color: #C3232D;
}

.form .error-message {
    display:block;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    color: red;
    margin:0;
    padding:0 6px;
    background: #FFE7F1;
}

.error {background: #FFE7F1;}

.error label,
.error label.error {
    color: #C3232D;
}


.help {cursor:help;}

.hasoverlay {position:relative;cursor:zoom-in;/*opacity:0.6*/}
.overlay-icon{font-size:22px;position:absolute;top:-100%;left:2px;color:#444;text-shadow:0px 1px white;}
.hasoverlay:hover {opacity:1}
.hasoverlay:hover .overlay-icon {font-size:26px;color:red;}

/********************/